@import '../../styles/utils';

.subscription {
  background-color: $main-background;

  &__content {
    width: 1675px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    gap: 130px;
  }

  &__left {
    width: 742px;
  }
  
  &__title {
    margin-bottom: 25px;

    color: $text-color;
    font-family: Sansation;
    font-size: 54px;
  }

  &__text {
    color: $text-light;
    font-size: 22px;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__email {
    position: relative;
    width: 400px;
    margin-right: 120px;

    &::before {
      content: url('../../images/icons/email.svg');
      position: absolute;
      right: 25px;
      top: 20px;
      width: 28px;
      height: 28px;
    }
  }

  &__email-input {
    padding: 18px 25px;
    width: 400px;

    font-size: 20px;
    color: $text-color;

    background-color: transparent;
    border-radius: 3px;
    border: 1px solid $input-border;
    outline: none;

    &::placeholder {
      font-family: Ubuntu;
      font-size: 20px;
      color: #B9B6B3;
    }
  }
}