@import '../../styles/utils';

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 45px 116px;

  background-color: $main-background;

  &__logo-img {
    width: 164px;
    height: 42px;
  }

  &__search {
    position: relative;

    &::before {
      content: url('/images/icons/search.svg');
      position: absolute;
      right: 25px;
      top: 16px;
      width: 28px;
      height: 28px;
    }
  }

  &__search-input {
    padding: 18px 25px;
    width: 400px;

    font-size: 20px;
    color: $text-color;

    background-color: transparent;
    border-radius: 3px;
    border: 1px solid $input-border;
    outline: none;

    &::placeholder {
      font-family: Ubuntu;
      font-size: 20px;
      color: #B9B6B3;
    }
  }

  &__nav-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  &__nav-link {
    position: relative;
    font-size: 20px;
    color: $text-color;
    
    @include hover(color, $text-hover);

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 100%;
      height: 2px;
      background-color: $text-hover;
      transition: right .3s ease-in-out;
    }
    
    &:hover::before {
      right: 0;
    }
  }

  &__actions {
    display: flex;
    gap: 30px;
  }

  &__phone {
    position: relative;
    font-size: 20px;
    color: $text-color;

    &::before {
      content: url('../../images/icons/phone.svg');
      position: absolute;
      top:2px;
      left: -20px;
    }

    @include hover(color, $text-hover);
  }

  &__icon {
    display: block;
    width: 26px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: contain;

    &--bag {
      background-image: url('/images/icons/bag.svg');
    }

    &--user {
      background-image: url('/images/icons/user.svg');
    }
  }
}

@keyframes underlineAnimation {
  0% {
    text-decoration-line: none;
  }
  100% {
    text-decoration-line: underline;
  }
}
