// text
$text-color:#3D3025;
$text-hover: #98887A;
$text-light: #B4AEA7;
$text-error: #d05941;
$highlight: #C4C4C4;

// backgrounds
$main-background: #FCF9F6;
$form-background: #F5F5F5;

// borders
$input-border: #A19C97;