@import '../../styles/utils';

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0, 0.4);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  &__content {
    padding: 70px 140px;

    font-family: 'Sansation';
    font-size: 38px;
    color: $text-color;
    text-align: center;

    max-width: 800px;
    background-color: $main-background;
    border-radius: 15px;

    transform: scale(0.5);
    transition: 0.4s all;

    &.active {
      transform: scale(1);
    }
  }

  &__error {
    color: $text-error;
  }
}
